<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huskies Helping Huskies</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

</head>
<body>
  <div class="header">
    <header> 
      <img src="/images/husky.jpg" alt="" />
        <h1>
          Huskies Helping Huskies
        </h1>
        {{!-- <nav>
        <a href="/login">login</a>
        </nav>         --}}
    </header>
  </div>
  <form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>
<script src="../../public/javascript/script.js"></script> 
</body>
</html>





{{!-- <div class="buttons">
    <button id="myBtn" class="btn1" href="/login">SIGN IN</button>
    <button id="myBtn2" class="btn1">SIGN UP!!!</button>

  
    <div id="myModal" class="modal">

         <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <div class="modal-body">
              <form>
                <label for="email">Email Address:</label>
                <input type="email" placeholder="Email Address" name="email" id="email" class="form-input" />
              </br>
            </br>
                <label for="password">Password:</label>
                <input aria-label="enter password" type="text" placeholder="Password" name="name" id="name" class="form-input"/>
              </br>
            </br>
                <button id="sigin" class="btn2">SIGN IN</button>
                <button id="cancel" class="btn2">CANCEL</button>
            </form>
            </div>
          </div>
        </div>
      </div>

      <div id="myModal2" class="modal2">
      
        <div class="modal-content2">
          <div class="modal-header2">
            <span class="close2">&times;</span>
            <div class="modal-body2">
              <form>
                <label for="email">Email Address:</label>
                <input type="email" placeholder="Email Address" name="email" id="email" class="form-input" />
              </br>
            </br>
                <label for="password">Password:</label>
                <input aria-label="enter password" type="text" placeholder="Password" name="name" id="name" class="form-input"/>
              </br>
            </br>
                <label for="confirm password">Confirm Password:</label>
                <input aria-label="confirm password" type="text" placeholder="Confirm Password" name="name" id="name" class="form-input"/>
          </br>
        </br> 
                <button id="sigup" class="btn2">SIGN UP!!!</button>
                <button id="cancel" class="btn2">CANCEL</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div> --}}
