
<div class="login-page">
 <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>

    <!-- Login Form -->
    <form class="login-form">
      <div>
      <label for="email-signin"></label>
      <input type="text" id="login" class="fadeIn second" placeholder="login">
      </div>
      <div>
      <label for="password-login"></label>
      <input type="text" id="password" class="fadeIn third" placeholder="password">
      <div>
      <input type="submit" class="fadeIn fourth" value="Log In">
      </div>
    </form>
    </div>

  <div id="formContent">
    <h2 class="active"> Sign Up </h2>
    <form class="signup-form">
           <div>
           <label for="username-signup"></label>
           <input type="text" id="username-signup" class="fadeIn second" placeholder="Username">
           </div>
           <div>
           <label for="email-signup"></label>
           <input type="text" id="email-signup" class="fadeIn third" placeholder="Email Address">
           </div>
           <div>
           <label for="password-signup"></label>
           <input type="text" id="password-signup" class="fadeIn fourth" placeholder="Password">
           </div>
           <div>
           <input type="submit" class="fadeIn fourth" value="Sign Up">
           </div> 
    </form>
  </div>
</div>

</div>